
body{
    background: linear-gradient(135deg,#6a11cb, #2575fc);
    min-height: 100vh;
    margin: 0;
    font-family: Arial, helvetica;

    display: flex;
    align-items: center;
    justify-content: center;

}
