
<html>
<head>
    <style>
        body{
            background:cyan;
            color:black;
        }
        h1{
            color:blue;
        }
    </style>
</head>
    <body>
        <h1> Welcome to Hyderabad!!!!</h1>
        <h2>
            <ul>
                <li>CURRENT DATE is : {{date}}</li>
                <li>CURRENT DAY is : {{cur_day}}</li>
                <li>CURRENT MONTH is: {{cur_month}}</li> 
                <li>CURRENT YEAR is: {{cur_year}}</li>
            </ul>
        </h2>
    </body>
</html>
