
.jumbotron{
    margin-top :200px;
    background: transparent;
    color :white;
    

}

body{

    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsru95BPiuzSuio2iWyhWKrAJl53cbyn47uw&s);
    background-repeat: repeat;
    background-size: cover;
    color: blueviolet;
}

h1{
    text-align: center;
    
}
ul{
    font-size: 30px;
}