{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/sample1.css' %}">
    </head>
    <body>
        
        <div class="container">
        <div class="jumbotron jumbotron-fluid" align="center">
        
        <h1>WELCOME TO PUNE NEWS PORTAL</h1>
        <a class="btn btn-primary btn-lg" href="https://economictimes.indiatimes.com/news/politics?from=mdr" role="button">Political News</a>&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="https://indianexpress.com/section/sports/" role="button">Sports News</a>&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="https://www.thehindu.com/entertainment/movies/" role="button">Movie News</a>&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="/politics" role="button">Politics page</a>&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="/sport" role="button">Sports page</a>&nbsp&nbsp
        </div>
        </div>
    </body>
</html>