<html>
 <body>
  <form action="./prod" method="get">
      <h1><b><u>Enter the Product</u></b></h1>
      <h2>
          ENTER THE PRODUCT ID:<input type="text" name="t1"><br>
          Enter the PRODUCTNAME:<input type="text" name="t2"><br>
          Enter the PRICE:<input type="text" name="t3"><br>
          Enter the BRAND:<input type="text" name="t4"><br>
          Enter the QUANTITY:<input type="text" name="t5"><br>
          <input type="SUBMIT" value="submit">
      </h2>
  </form>
 </body>
</html>
